<!--
* This template is for the admin, what they see on the dashboard.
*
-->
<template name="admin">
<script>
var buyerData = {
	labels : ["January","February","March","April","May","June"],
	datasets : [
		{
			fillColor : "rgba(203, 97, 89, 0.4)",
			strokeColor : "#B2201C",
			pointColor : "#fff",
			pointStrokeColor : "#8D0805",
			data : [203,156,99,251,305,247]
		}
	]
}
var buyers = document.getElementById('dayClicks').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);
</script>

<div class ="col-sm-9 hr">

	<br>
	<br>
<!-- Collapsable Divs for Graphs -->
<div class="panel-group" id="accordion">
<div class="panel panel-default" id="panel1">
		<div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-target="#collapseOne"
						 href="#collapseOne">
					Top Performers Statistics
					</a>
				</h4>

		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<canvas id="topPerformers" width="auto" height="300"></canvas>
				</div>
</div>
</div>

<div class="panel panel-default" id="panel2">
		<div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-target="#collapseTwo"
						 href="#collapseTwo">
					Top Businesses Statistics
					</a>
				</h4>

		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<canvas id="business" width="auto" height="300"></canvas>
				</div>
</div>
</div>

</div>
</div>
</template>
