<!--
* This template is for the user, what they see on the dashboard.
*
-->
<template name="business">


<div class ="col-sm-9 hr">
	<!-- Recap box for the information of the user/business-->
	<div id="recapbox" class="recapbox">
		 <table border="1" cellpadding="15" cellspacing="" >
				<tr>
					 <td>
							<p class="recap">Total Members</p>
							<p class="stats">{{totalUsers}}</p>
					 </td>
				</tr>
		 </table>
	</div>
	<br>
	<br>
<!-- Collapsable Divs for Graphs -->
<div class="panel-group" id="accordion">
<div class="panel panel-default" id="panel1">
		<div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-target="#collapseOne"
						 href="#collapseOne">
						 <!-- For this business only! -->
					Recent Performance!
					</a>
				</h4>

		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<canvas id="topPerformers" width="auto" height="300"></canvas>
				</div>
</div>
</div>

<div class="panel panel-default" id="panel2">
		<div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-target="#collapseTwo"
						 href="#collapseTwo">
						 <!-- To compare with other companies -->
					Monthly Click Statistics!
					</a>
				</h4>

		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<canvas id="business" width="auto" height="300"></canvas>
				</div>
</div>
</div>

</div>
</div>
<script>

        var oneDay = moment().subtract(1, "days").toDate();
        var twoDay = moment().subtract(2, "days").toDate();
        var threeDay = moment().subtract(3, "days").toDate();
        var fourDay = moment().subtract(4, "days").toDate();
        var fiveDay = moment().subtract(5, "days").toDate();
        var sixDay = moment().subtract(6, "days").toDate();

        var dataArray = [
            Clicks.find({createdAt: {$gte: oneDay}, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: twoDay, $lt: oneDay}, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: threeDay, $lt: twoDay}, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: fourDay, $lt: threeDay}, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: fiveDay, $lt: fourDay}, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: sixDay, $lt: fiveDay}, url: Meteor.user().profile.url}).count()
        ];

        var dates = [
        	moment().format('dddd'),
        	moment(oneDay).format('dddd'),
        	moment(twoDay).format('dddd'),
        	moment(threeDay).format('dddd'),
        	moment(fourDay).format('dddd'),
        	moment(fiveDay).format('dddd')
        ];

        console.log(dataArray);

        var buyerData = {
            labels : dates,
            datasets : [
                {
                    fillColor : "rgba(203, 97, 89, 0.4)",
                    strokeColor : "#B2201C",
                    pointColor : "#fff",
                    pointStrokeColor : "#8D0805",
                    data : dataArray,
                    responsive: true
                }
            ]
        };
        var buyers = document.getElementById('topPerformers').getContext('2d');
        // draw line chart
        new Chart(buyers).Line(buyerData);
    </script>
    <script>

        var oneMonthAgo = moment().subtract(1, "months").toDate();
        var twoMonthsAgo = moment().subtract(2, "months").toDate();
        var threeMonthsAgo = moment().subtract(3, "months").toDate();
        var fourMonthsAgo = moment().subtract(4, "months").toDate();
        var fiveMonthsAgo = moment().subtract(5, "months").toDate();

        var dataArray = [
            Clicks.find({createdAt: {$gte: oneMonthAgo}, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: twoMonthsAgo, $lt: oneMonthAgo }, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: threeMonthsAgo, $lt: twoMonthsAgo }, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: fourMonthsAgo, $lt: threeMonthsAgo }, url: Meteor.user().profile.url}).count(),
            Clicks.find({createdAt: {$gte: fiveMonthsAgo, $lt: fourMonthsAgo }, url: Meteor.user().profile.url}).count()
        ];

        console.log(dataArray);

        var buyerData = {
            labels : [
            			moment().format('MMMM'),
            			moment(oneMonthAgo).format('MMMM'),
            			moment(twoMonthsAgo).format('MMMM'),
            			moment(threeMonthsAgo).format('MMMM'),
            			moment(fourMonthsAgo).format('MMMM')
            		],
            datasets : [
                {
                    fillColor : "rgba(203, 97, 89, 0.4)",
                    strokeColor : "#B2201C",
                    pointColor : "#fff",
                    pointStrokeColor : "#8D0805",
                    data : dataArray
                }
            ]
        };
        var buyers = document.getElementById('business').getContext('2d');
        // draw line chart
        new Chart(buyers).Line(buyerData);
    </script>
</template>
