<template name ="dashboard">
<div class="container">
  <div class="row">
    <div class ="col-sm-3">
      <p class="center">{{username}}, you are logged in.</p>
      <p class="center">Welcome back! </p>
      <br>
      <br>
      <a href="#" class="btn btn-danger center logout">Logout</a>
      <br>
      <h5>Update Your Account?</h5>
      <p>To update your account information or deactivate your account please
        contact the administrator at <a href="mailto:#">webmaster@affiliatepi.ca</a>. </p>
      <!-- Would ideally be linked to page where the user can review the rules and terms -->
      <p class="center"><a href="#" class="dashControls">Review Terms &amp; Conditions</a></p>
      <h5>Promotion Kits</h5>
        <!-- Websites would be able to give advertising banners with these kits -->
        <p class="center"><a href="#" class="dashControls">FACEBOOK KIT</a></p>
        <p class="center"><a href="#" class="dashControls">TWITTER KIT</a></p>
        <p class="center"><a href="#" class="dashControls">BLOG KIT</a></p>

      <h5>How to Get Clicks!</h5>
        <p>To manually share any link with your Partner code applied, add the
          following parameter to the end of the business URL you support: /ClickServlet?id= </p>

      </div>
<!-- This is for displaying the proper information -->
    <!-- {{#if isInRole 'admin'}}
        {{>admin }}
    {{else if isInRole 'user'}}
        {{>user }}
    {{else if isInRole'business'}}
        {{>business }}
    {{/if}} -->

</div>
</div>
</template>
