<template name="graph3">
<script>
var buyerData = {
	labels : ["January","February","March","April","May","June"],
	datasets : [
		{
			fillColor : "rgba(203, 97, 89, 0.4)",
			strokeColor : "#B2201C",
			pointColor : "#fff",
			pointStrokeColor : "#8D0805",
			data : [203,156,99,251,305,247]
		}
	]
}
var buyers = document.getElementById('dayClicks').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);
</script>
<canvas id="dayClicks" width="600" height="300"></canvas>
</template>
