<template name="home">
<div class="container">
<div class="row">
  <div class="col-sm-4 small">
    <span class="glyphicon glyphicon-share center large"></span>
     <h3>
        Easy to Share
     </h3>
     <p class="center lrg">
        Simply share on your social networks, with our links and buttons,
        and referrals who sign-up will be tracked back to your Partner code.
     </p>
  </div>
  <div class="col-sm-4 small">
    <span class="glyphicon glyphicon-time center large"></span>
     <h3>
        Real Time
     </h3>
     <p class="center lrg">
        Track every action, click and conversion through our real-time
        platform. Generate your own tracking links, and gain access
        to all the tools you need.
     </p>
  </div>
  <div class="col-sm-4 small">
    <span class="glyphicon glyphicon-tag center large"></span>
     <h3>
        Enjoy You Cut
     </h3>
     <p class="center lrg">
        We pay you for every purchase a referred customer makes!
        Earn 10% on all referred customers' purchases for a full year.
     </p>
  </div>
</div>
<br><br>
<a href="{{pathFor route='register'}}" class="btn btn-lg btn-danger center" role="button">Become an Affiliate!</a>
</div>

<div class="container-fluid bg-grey">
  <div class="container">
  <h3>
     FREQUENTLY ASKED QUESTIONS
  </h3>
<div class="row ">
  <div class="col-md-6">
    <h4>
     How often is commission paid out?
  </h4>
  <p>
     Commission is paid once a month upon receiving your invoice.
     Payment is made on a net 30 basis, which starts at the beginning
     of the following month. For example: invoices for January 2015
     are paid on March 1st/2nd.
  </p></div>
  <div class="col-md-6">
    <h4>
     Mattis Parturient Purus?
  </h4>
  <p>
     Nulla vitae elit libero, a pharetra augue. Fusce dapibus,
     tellus ac cursus commodo, tortor mauris condimentum nibh,
     ut fermentum massa justo sit amet risus. Donec id elit
     non mi porta gravida at eget metus. Vestibulum id ligula
     porta felis euismod semper.
  </p></div>
</div>
<div class="row ">
  <div class="col-md-6">
    <h4>
       Mattis Parturient Purus?
    </h4>
    <p>
       Nulla vitae elit libero, a pharetra augue. Fusce dapibus,
       tellus ac cursus commodo, tortor mauris condimentum nibh,
       ut fermentum massa justo sit amet risus. Donec id elit
       non mi porta gravida at eget metus. Vestibulum id ligula
       porta felis euismod semper.
    </p>
  </div>

  <div class="col-md-6">
    <h4>
     Mattis Parturient Purus?
  </h4>
  <p>
     Nulla vitae elit libero, a pharetra augue. Fusce dapibus,
     tellus ac cursus commodo, tortor mauris condimentum nibh,
     ut fermentum massa justo sit amet risus. Donec id elit non
     mi porta gravida at eget metus. Vestibulum id ligula porta
     felis euismod semper.
  </p></div>
</div>
</div>
</div>
</template>
