<template name = "loginButton">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login</a>
<ul id="login-dp" class="dropdown-menu">
<li>
 <div class="row">
    <div class="col-md-12">
      <p id="form-messages"></p>
       <form class="form" role="form" accept-charset="UTF-8" id="login-nav">
          <div class="form-group">
             <label class="sr-only" for="exampleInputEmail2">Email address</label>
             <input type="email" class="form-control" id="email" placeholder="Email address"  name="email" required>
          </div>
          <div class="form-group">
             <label class="sr-only" for="exampleInputPassword2">Password</label>
             <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                                   <div class="help-block text-right"><a href="{{pathFor route='forgotPassword'}}">Forget the password ?</a></div>
          </div>
          <div class="form-group">
             <button type="submit" value="login" class="btn btn-danger btn-block">Sign in</button>
          </div>
       </form>
    </div>
    <div class="bottom text-center">
      New here? <a href="{{pathFor route='register'}}"><b>Join Us</b> <span class="glyphicon glyphicon-user"></span> </a>
    </div>
 </div>
</li>
</ul>
</template>
