<!--
* This template is for the user, what they see on the dashboard.
*
-->
<template name="user">


<div class ="col-sm-9 hr">
	<!-- Recap box for the information of the user/business-->
	<div id="recapbox" class="recapbox">
		 <table border="1" cellpadding="15" cellspacing="" >
				<tr>
					 <td>
							<p class="recap">Clicks this Month</p>
							<p class="stats">{{monthClicks}}</p>
					 </td>
					 <td>
							<p class="recap">Earned this Month</p>
							<p class="stats">${{monthEarned}}</p>
					 </td>
					 <td>
							<p class="recap">Total Earned</p>
							<p class="stats">${{totalEarned}}</p>
					 </td>
				</tr>
		 </table>
	</div>
	<button type="submit" style="width: 90%;" class="btn btn-danger center">Payout Balance</button>
	<br>
	<br>
<!-- Collapsable Divs for Graphs -->
<div class="panel-group" id="accordion">
<div class="panel panel-default" id="panel1">
		<div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-target="#collapseOne"
						 href="#collapseOne">
					Daily Click Statistics
					</a>
				</h4>

		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<canvas id="dayClicks" width="auto" height="300"></canvas>
				</div>
</div>
</div>
<div class="panel panel-default" id="panel2">
		<div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-target="#collapseTwo"
						 href="#collapseTwo">
					Monthly Click Statistics
					</a>
				</h4>

		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<canvas id="monthClicks" width="auto" height="300"></canvas>
				</div>
</div>
</div>

</div>
</div>
    <script>

        var oneDay = moment().subtract(1, "days").toDate();
        var twoDay = moment().subtract(2, "days").toDate();
        var threeDay = moment().subtract(3, "days").toDate();
        var fourDay = moment().subtract(4, "days").toDate();
        var fiveDay = moment().subtract(5, "days").toDate();

        var dataArray = [
            Clicks.find({createdAt: {$gte: oneDay}}).count(),
            Clicks.find({createdAt: {$gte: twoDay, $lt: oneDay}}).count(),
            Clicks.find({createdAt: {$gte: threeDay, $lt: twoDay}}).count(),
            Clicks.find({createdAt: {$gte: fourDay, $lt: threeDay}}).count(),
            Clicks.find({createdAt: {$gte: fiveDay, $lt: fourDay}}).count()
        ];

        console.log(dataArray);

        var dates = [
            moment().format('dddd'),
            moment(oneDay).format('dddd'),
            moment(twoDay).format('dddd'),
            moment(threeDay).format('dddd'),
            moment(fourDay).format('dddd'),
            //moment(fiveDay).format('dddd')
        ];

        var buyerData = {
            labels : dates,
            datasets : [
                {
                    fillColor : "rgba(203, 97, 89, 0.4)",
                    strokeColor : "#B2201C",
                    pointColor : "#fff",
                    pointStrokeColor : "#8D0805",
                    data : dataArray
                }
            ]
        };
        var buyers = document.getElementById('dayClicks').getContext('2d');
        // draw line chart
        new Chart(buyers).Line(buyerData);
    </script>
    <script>

        var oneMonthAgo = moment().subtract(1, "months").toDate();
        var twoMonthsAgo = moment().subtract(2, "months").toDate();
        var threeMonthsAgo = moment().subtract(3, "months").toDate();

        var dataArray = [
            Clicks.find({createdAt: {$gte: oneMonthAgo}}).count(),
            Clicks.find({createdAt: {$gte: twoMonthsAgo, $lt: oneMonthAgo }}).count(),
            Clicks.find({createdAt: {$gte: threeMonthsAgo, $lt: twoMonthsAgo }}).count()
        ];

        var dates = [
            moment().format('MMMM'),
            moment(oneMonthAgo).format('MMMM'),
            moment(twoMonthsAgo).format('MMMM'),

        ];

        console.log(dataArray);

        var buyerData = {
            labels : dates,
            datasets : [
                {
                    fillColor : "rgba(203, 97, 89, 0.4)",
                    strokeColor : "#B2201C",
                    pointColor : "#fff",
                    pointStrokeColor : "#8D0805",
                    data : dataArray
                }
            ]
        };
        var buyers = document.getElementById('monthClicks').getContext('2d');
        // draw line chart
        new Chart(buyers).Line(buyerData);
    </script>
</template>
